.line{
    position: absolute;
    top: 0.7em;
    width: 100%;
    height: 2px;
    background-color: red;
}

.timeline{
    position: relative;
}
.times{
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.hours{
    z-index: 10;
    color: blue;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mins{
    font-size: 1px;
    top: 3px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
}